
<h1>
	Search
</h1>
<br>

<form action="/api/search" method="post">
	<div class="form-group">
		<label for="search"> Search first name, last name or student number:</label><br>
		<span class="input-group" style="width: 300px">
			<input type="text" name="query" class="form-control" autocomplete="off" required>
			<span class="input-group-btn">
				<input type="submit" value="Search" class="btn btn-default">
			</span>
		</span>
	</div>

	<span class="error">{{errMsg}}</span>

</form>

<br><br>

{{#if users}}

	{{#each users}}

		<dl>
			<dt>Student number:</dt>
			<dd>{{userID}}</dd>

			<dt>Name:</dt>
			<dd>{{firstName}} {{lastName}}</dd>

			<dt>Contact:</dt>
			<dd>{{phone}}</dd>

		</dl>

	{{/each}}

{{/if}}
